<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profie |<%=page.name%></title>
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/profile.css" />
  </head>

  <body>
    <!-- Header/navbar -->
    <header>
      <nav class="w-full flex-between py-5 container">
        <div>
          <a href="/index.html" class="logo text-xl"> nokoSocial </a>
        </div>
        <div class="relative search-box rounded-xl flex items-center">
          <span class="absolute search-icon top-2-5 left-3">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-4 h-4"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"
              />
            </svg>
          </span>
          <input
            placeholder="Search in Neko Social .."
            type="text"
            class="bg-transparent px-8 w-full h-full"
          />
        </div>
        <div class="flex gap-6 items-center">
          <a class="create-button bg-indigo-600" href="/posts"> Create </a>
          <div class="w-12 h-12 rounded-full overflow-hidden rounded-full">
            <button
              id="profileButton"
              class="w-full h-full bg-transparent border-none"
            >
              <img
                src="/images/profile-8.jpg"
                class="object-cover"
                alt="profile cover"
              />
            </button>
          </div>
        </div>
      </nav>
    </header>

    <!-- Main -->
    <main id="profile-container" class="container flex">
      <!-- Content -->
      <section id="profile-content" class="profile-content">
        <!-- Profile -->
        <div id="profile-details-card" class="shadow">
          <!-- Profile Header image -->
          <header class="profile-header">
            <img src="/images/feed-6.jpg" class="absolute cover z-0" alt="" />

            <!-- Profile Image -->
            <span class="profile-pic-card">
              <img src="/images/profile-8.jpg" class="profile-pic" alt="" />
            </span>
          </header>
          <main class="profile-main">
            <!-- Content -->
            <div class="flex justify-between">
              <div>
                <!-- Profile username -->
                <h4 id="profile-username" class="text-xl font-Poppins-Bold">
                  <%=page.name%>
                </h4>

                <!-- Profile id -->
                <p id="profile-id">@<%=page.username%></p>

                <!-- Profile Caption -->
                <p class="mt-4" id="profile-caption">
                  Lorem ipsum dolor sit amet,consectetur
                </p>

                <!-- Profile Link -->
                <div class="flex items-center gap-1 mt-3 text">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-4 text-gray-600 h-4"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M12 21a9.004 9.004 0 0 0 8.716-6.747M12 21a9.004 9.004 0 0 1-8.716-6.747M12 21c2.485 0 4.5-4.03 4.5-9S14.485 3 12 3m0 18c-2.485 0-4.5-4.03-4.5-9S9.515 3 12 3m0 0a8.997 8.997 0 0 1 7.843 4.582M12 3a8.997 8.997 0 0 0-7.843 4.582m15.686 0A11.953 11.953 0 0 1 12 10.5c-2.998 0-5.74-1.1-7.843-2.918m15.686 0A8.959 8.959 0 0 1 21 12c0 .778-.099 1.533-.284 2.253m0 0A17.919 17.919 0 0 1 12 16.5c-3.162 0-6.133-.815-8.716-2.247m0 0A9.015 9.015 0 0 1 3 12c0-1.605.42-3.113 1.157-4.418"
                    />
                  </svg>
                  <h4>My telegram Acount :</h4>

                  <a href="https://t.me/khodaei_Dev" class="url text-sm">
                    khodaei_Dev
                  </a>
                </div>
                <!-- Profile Followers/Following count -->
                <div class="flex items center gap-4 mt-4">
                  <div class="flex items center cursor-pointer gap-1">
                    <span class="count"><%=followers.length%></span>
                    <span class="followers text-gray-700">Followers</span>
                  </div>
                  <div
                    id="followings"
                    class="flex items-center cursor-pointer gap-1"
                  >
                    <span class="count"><%= followings.length%> </span>
                    <span class="text-gray-700 followings">Following</span>
                  </div>
                </div>
              </div>

              <!-- Manage -->
              <div class="flex items-center gap-2">
                <a
                  href="/ProfileUpdate"
                  class="min-w-max flex items-center gap-1 manage-button"
                >
                  <span> Manage </span>
                </a>
                <% if(followed) {%>
                <form method="post" action="/pages/<%= pageId %>/unfollow">
                  <button class="unfollow-button font-Poppins-Bold">
                    Unfollow
                  </button>
                </form>
                <%} else {%>
                <form method="post" action="/pages/<%= pageId %>/follow">
                  <button class="unfollow-button font-Poppins-Bold">
                    Follow
                  </button>
                </form>
                <%}%>
              </div>
            </div>

            <!-- Verification Required Alert -->
            <%if(!page.isVerified){%>

            <div class="alert error">
              <div>
                <span> This account need to get verificated </span>
              </div>
              <div>
                <button class="send-verification">Send verification</button>
              </div>
            </div>
          </main>
        </div>
        <%}%>

        <!-- Feeds/Posts -->
        <div id="profile-feeds">
          <header id="buttons-container" class="flex items-center"></header>

          <!-- Feeds -->
          <main id="feeds-container"></main>

          <!-- Footer -->
          <footer></footer>
        </div>
      </section>

      <!-- Sidebar -->
      <aside class="profile-sidebar">
        <section class="profile-side-card shadow">
          <header class="flex justify-between">
            <h5 claas="side-title" style="font-size: 16px">People to follow</h5>
            <div>
              <button>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-6 h-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 6.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5ZM12 12.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5ZM12 18.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5Z"
                  />
                </svg>
              </button>
            </div>
          </header>
          <main class="mt-6">
            <article class="people-follow">
              <div class="flex items-center gap-2">
                <div>
                  <img
                    src="/images/rad_front.jpg"
                    class="w-15 rounded-full"
                    alt=""
                  />
                </div>
                <div class="">
                  <div class="flex items-center gap-1">
                    <p class="text-sm font-Poppins-SemiBold">Mr. Saeedi rad</p>
                    <img src="/images/verify.png" class="w-4" alt="" />
                  </div>
                  <button class="text-xs text-gray-600 max-w-max">
                    @rad_front
                  </button>
                </div>
              </div>
              <div>
                <button class="follow-button">Follow</button>
              </div>
            </article>
            <article class="people-follow">
              <div class="flex items-center gap-2">
                <div>
                  <img
                    src="/images/cristiano.png"
                    class="w-15 h-15 rounded-full"
                    alt=""
                  />
                </div>
                <div class="">
                  <div class="flex items-center gap-1">
                    <p class="text-sm font-Poppins-SemiBold">
                      Cristiano ronaldo
                    </p>
                    <img src="/images/verify.png" class="w-4" alt="" />
                  </div>
                  <button class="text-xs text-gray-600 max-w-max">
                    @cristiano
                  </button>
                </div>
              </div>
              <div>
                <button class="follow-button">Follow</button>
              </div>
            </article>
            <article class="people-follow">
              <div class="flex items-center gap-2">
                <div>
                  <img
                    src="/images/jadi.jpg"
                    class="w-15 rounded-full"
                    alt=""
                  />
                </div>
                <div class="">
                  <div class="flex items-center gap-1">
                    <p class="text-sm font-Poppins-SemiBold">Jadi</p>
                    <img src="/images/verify.png" class="w-4" alt="" />
                  </div>
                  <button class="text-xs text-gray-600 max-w-max">
                    @Jadi_net
                  </button>
                </div>
              </div>
              <div>
                <button class="follow-button">Follow</button>
              </div>
            </article>
          </main>
        </section>

        <section class="profile-side-card shadow">
          <header class="flex justify-between">
            <h5 claas="side-title" style="font-size: 16px">Trending now</h5>
            <div>
              <button>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-6 h-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 6.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5ZM12 12.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5ZM12 18.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5Z"
                  />
                </svg>
              </button>
            </div>
          </header>
          <main class="font-Poppins-SemiBold mt-3">
            <article class="p-3">
              <a href="#" class="flex items-center gap-2 text-gray-900">
                <span class="text-gray-600">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-4 h-4"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M2.25 18 9 11.25l4.306 4.306a11.95 11.95 0 0 1 5.814-5.518l2.74-1.22m0 0-5.94-2.281m5.94 2.28-2.28 5.941"
                    />
                  </svg>
                </span>
                <span> #Developer 👨‍💻 </span>
              </a>
            </article>
            <article class="p-3">
              <a href="#" class="flex items-center gap-2 text-gray-900">
                <span class="text-gray-600">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-4 h-4"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M2.25 18 9 11.25l4.306 4.306a11.95 11.95 0 0 1 5.814-5.518l2.74-1.22m0 0-5.94-2.281m5.94 2.28-2.28 5.941"
                    />
                  </svg>
                </span>
                <span> #sabzlearn 🌞 </span>
              </a>
            </article>
            <article class="p-3">
              <a href="#" class="flex items-center gap-2 text-gray-900">
                <span class="text-gray-600">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-4 h-4"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M2.25 18 9 11.25l4.306 4.306a11.95 11.95 0 0 1 5.814-5.518l2.74-1.22m0 0-5.94-2.281m5.94 2.28-2.28 5.941"
                    />
                  </svg>
                </span>
                <span> #radiogeek 🐱‍🏍 </span>
              </a>
            </article>
            <article class="p-3">
              <a href="#" class="flex items-center gap-2 text-gray-900">
                <span class="text-gray-600">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-4 h-4"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M2.25 18 9 11.25l4.306 4.306a11.95 11.95 0 0 1 5.814-5.518l2.74-1.22m0 0-5.94-2.281m5.94 2.28-2.28 5.941"
                    />
                  </svg>
                </span>
                <span> #master_freelance 🔥 </span>
              </a>
            </article>
            <article class="p-3">
              <a href="#" class="flex items-center gap-2 text-gray-900">
                <span class="text-gray-600">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-4 h-4"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M2.25 18 9 11.25l4.306 4.306a11.95 11.95 0 0 1 5.814-5.518l2.74-1.22m0 0-5.94-2.281m5.94 2.28-2.28 5.941"
                    />
                  </svg>
                </span>
                <span> #reactJs ⚛ </span>
              </a>
            </article>
          </main>
        </section>

        <section class="profile-side-card shadow">
          <header class="flex justify-between">
            <h5 claas="side-title" style="font-size: 16px">What's happening</h5>
            <div>
              <button>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-6 h-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 6.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5ZM12 12.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5ZM12 18.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5Z"
                  />
                </svg>
              </button>
            </div>
          </header>
          <main id="whats-happening" class="mt-4">
            <article class="wh-card">
              <img src="/images/feed-1.jpg" alt="" />
            </article>
            <article class="wh-card">
              <img src="/images/feed-3.jpg" alt="" />
            </article>
            <article class="wh-card">
              <img src="/images/feed-9.jpg" alt="" />
            </article>
            <article class="wh-card">
              <img src="/images/feed-2.jpg" alt="" />
            </article>
            <article class="wh-card">
              <img src="/images/feed-4.jpg" alt="" />
            </article>
            <article class="wh-card">
              <img src="/images/feed-5.jpg" alt="" />
            </article>
            <article class="wh-card">
              <img src="/images/feed-10.jpg" alt="" />
            </article>
            <article class="wh-card">
              <img src="/images/feed-8.jpg" alt="" />
            </article>
          </main>
        </section>
      </aside>
    </main>

    <!-- Footer -->
    <footer class="flex items-center gap-2"></footer>

    <!--Followers Modal -->
    <section id="modal" class="modal-screen">
      <section id="modal-card">
        <header
          id="modal-header"
          class="w-full pb-4 flex items-center justify-between"
        >
          <div></div>
          <div class="pl-5">Followers (<%= followers.length %>)</div>
          <button class="max-w-max flex-center close-button">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6 18 18 6M6 6l12 12"
              />
            </svg>
          </button>
        </header>
        <main class="mt-2">
          <% if (followers.length > 0) { %> <% followers.forEach(follower => {
          %>
          <article class="following-card">
            <div class="flex items-center gap-1">
              <div class="flex items-center gap-2">
                <div class="w-12 h-12 rounded-full overflow-hidden">
                  <img
                    src="/images/profile-1.jpg"
                    class="w-full object-cover h-full"
                    alt=""
                  />
                </div>
                <div>
                  <h6 class=""><%= follower.name %></h6>
                  <p class="text-sm font-Poppins-Light text-gray-600">
                    @<%= follower.username %>
                  </p>
                </div>
              </div>
            </div>
            <div>
              <button class="follow-button text-xs">Follow</button>
            </div>
          </article>
          <% }) %> <% } else { %>
          <h1 style="text-align: center">You can't access to followers</h1>
          <% } %>
        </main>
      </section>
    </section>

    <!-- Followings Modal -->
    <section id="modal" class="modal-screen followings-modal-screen">
      <section id="modal-card">
        <header
          id="modal-header"
          class="w-full pb-4 flex items-center justify-between"
        >
          <div></div>
          <div class="pl-5">Followings (<%= followings.length %>)</div>
          <button class="max-w-max flex-center followings-close-button">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6 18 18 6M6 6l12 12"
              />
            </svg>
          </button>
        </header>
        <main class="mt-2">
          <% if(hasAccess) { %> <% followings.forEach(following => { %>

          <article class="following-card">
            <div class="flex items-center gap-1">
              <div class="flex items-center gap-2">
                <div class="w-12 h-12 rounded-full overflow-hidden">
                  <img
                    src="/images/profile-1.jpg"
                    class="w-full object-cover h-full"
                    alt=""
                  />
                </div>
                <div>
                  <h6 class=""><%= following.name %></h6>
                  <p class="text-sm font-Poppins-Light text-gray-600">
                    @<%= following.username %>
                  </p>
                </div>
              </div>
            </div>
            <div>
              <button class="follow-button text-xs">Follow</button>
            </div>
          </article>

          <% }) %> <% } else { %>
          <h1 style="text-align: center">You can't access to followers</h1>
          <% } %>
        </main>
      </section>
    </section>

    <!-- Scripts -->
    <script src="/js/profile.js"></script>
    <script src="/js/sweetalert.js"></script>
    <script>
      if ("<%= locals.messages.error %>") {
        swal({
          title: "<%= locals.messages.error %>",
          icon: "error",
          buttons: "Try Again",
        });
      } else if ("<%= locals.messages.success %>") {
        swal({
          title: "<%= locals.messages.success %>",
          icon: "success",
          buttons: "Huraaa 😍",
        });
      }

      const followersSpan = document.querySelector(".followers ");
      const followingsSpan = document.querySelector(".followings");

      console.log(followersSpan);
      followersSpan.addEventListener("click", () => {
        const followersModal = document.querySelector(".modal-screen");
        const followerModalCloseBtn = document.querySelector(".close-button");

        followersModal.classList.add("visible");

        followerModalCloseBtn.addEventListener("click", () => {
          followersModal.classList.remove("visible");
        });
      });

      followingsSpan.addEventListener("click", () => {
        const followingsModal = document.querySelector(
          ".followings-modal-screen"
        );
        const followingsModalCloseBtn = document.querySelector(
          ".followings-close-button"
        );

        followingsModal.classList.add("visible");

        followingsModalCloseBtn.addEventListener("click", () => {
          followingsModal.classList.remove("visible");
        });
      });
    </script>
  </body>
</html>
