<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profie | <%=page.name%></title>
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/profile.css" />
  </head>

  <body>
    <!-- Header/navbar -->
    <header>
      <nav class="w-full flex-between py-5 container">
        <div>
          <a href="#" onclick="location.reload()" class="logo text-xl"> Social Media </a>
        </div>
        <div class="relative search-box rounded-xl flex items-center">
          <span class="absolute search-icon top-2-5 left-3">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-4 h-4"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"
              />
            </svg>
          </span>
          <input
            placeholder="Search in Neko Social .."
            type="text"
            class="bg-transparent px-8 w-full h-full"
          />
        </div>
        <div class="flex gap-6 items-center">
          <a class="create-button bg-indigo-600" href="/posts"> Create Post</a>
          <div class="w-12 h-12 rounded-full overflow-hidden rounded-full">
            <button
              id="profileButton"
              class="w-full h-full bg-transparent border-none"
            >
            <% if (page.profilePicture) { %>
              <img src="http://localhost:4002<%=page.profilePicture%>"  class="object-cover"
              alt="profile cover"/>
            <% } else { %>
              <img src="/images/defaulte/default-user.png" class="object-cover"
              alt="profile cover" />
            <% } %>
            
             
            </button>
          </div>
        </div>
      </nav>
    </header>

    <!-- Main -->
    <main id="profile-container" class="container flex">
      <!-- Content -->
      <section id="profile-content" class="profile-content">
        <!-- Profile -->
        <div id="profile-details-card" class="shadow">
          <!-- Profile Header image -->
          <header class="profile-header">
            <img src="/images/feed-6.jpg" class="absolute cover z-0" alt="" />

            <!-- Profile Image -->
            <span class="profile-pic-card">
              <% if (page.profilePicture) { %>
                <img src="http://localhost:4002<%=page.profilePicture%>" class="profile-pic" alt="User Profile Image" />
              <% } else { %>
                <img src="/images/defaulte/default-user.png" class="profile-pic" alt="User Profile Image" />
              <% } %>
              
            </span>
          </header>
          <main class="profile-main">
            <!-- Content -->
            <div class="flex justify-between">
              <div>
                <!-- Profile username -->
                <h4 id="profile-username" class="text-xl font-Poppins-Bold">
                  <%=page.name%>
                </h4>

                <!-- Profile id -->
                <p id="profile-id">@<%=page.username%></p>

                <!-- Profile Caption -->
                <p class="mt-1" id="profile-caption">
                  <%=page.biography%>
                </p>
                <!-- Profile Followers/Following count -->
                <div class="flex items center gap-4 mt-3">
                  <div class="flex items center cursor-pointer gap-1">
                    <span class="count"><%=followers.length%></span>
                    <span class="followers text-gray-700">Followers</span>
                  </div>
                  <div
                    id="followings"
                    class="flex items-center cursor-pointer gap-1"
                  >
                    <span class="count"><%= followings.length%> </span>
                    <span class="text-gray-700 followings">Following</span>
                  </div>
                </div>
              </div>

              <!-- Manage -->
              <div class="flex items-center gap-2">
                
                <%if(pageOwner){%>
                  <a
                    href="/users/edit-profile"
                    class="min-w-max flex items-center gap-1 manage-button"
                  >
                    <span> Manage </span>
                  </a>
                  <%}else if(followed){ %>

                
                <form method="post" action="/pages/<%= pageId %>/unfollow">
                  <button class="unfollow-button font-Poppins-Bold">
                    Unfollow
                  </button>
                </form>
                <%} else {%>
                 
                <form method="post" action="/pages/<%= pageId %>/follow">
                  <button class="unfollow-button font-Poppins-Bold">
                    Follow
                  </button>
                </form>
                <%}%>
              </div>
            </div>

            <!-- Verification Required Alert -->
            
          </main>
        </div>
       

        <!-- Feeds/Posts -->
        <div id="profile-feeds">
          <header id="buttons-container" class="flex items-center">
            <button
              class="profile-feed__button isActive">Posts
            <button class="profile-feed__button">Reels</button>
          </header>

          <!-- Feeds -->
          <main id="feeds-container">
            <% if(posts.length > 0) { %> 
              <% posts.forEach(post => { %>
                <article class="profile-feed-card">
                  <div>
                    <header>
                      <img
                        src="http://localhost:4002<%=post.user.profilePicture%>"
                        alt="profile picture"
                        class="feed-profile-picture"
                      />
                    </header>
                  </div>
                  <div class="w-full">
                    <main>
                      <h5 class="feed-username">
                        <span style="display: flex; justify-content: space-between">
                          <strong> <%= post.user.name %> </strong>
                          <div class="relative">
                            <button class="profile-more-button">
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                class="w-6 h-6"
                              >
                                <path
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                  d="M12 6.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5ZM12 12.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5ZM12 18.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5Z"
                                ></path>
                              </svg>
                            </button>
                        
                            <div class="dropdown">
                              <form action="/posts/<%= post._id %>/remove" method="post">
                                <button type="submit" class="remove-button dropdown-item">
                                  <span class="text-red-500">
                                    <svg
                                      xmlns="http://www.w3.org/2000/svg"
                                      fill="none"
                                      viewBox="0 0 24 24"
                                      stroke-width="1.5"
                                      stroke="currentColor"
                                      class="w-5 h-5"
                                    >
                                      <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0"
                                      ></path>
                                    </svg>
                                  </span>
                                  <span>Remove</span>
                                </button>
                              </form>
                            </div>
                          </div>
                        </span>
                      </h5>
                    </main>
                    <footer>
                      <div>
                        <img class="feed-image" src="http://localhost:4002<%= post.media.path %>" alt="" />
                      </div>
                      <div class="feed-card-content">
                        <div class="feed-buttons">

                          <%if(post.isLiked){%>
                            <form action="/posts/dislike" , method="post">
                              <input type="hidden" name="postId" value="<%=post._id%>">
                              <button class="max-w-max" type="submit">
                                <svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  fill="#FF0000"
                                  viewBox="0 0 24 24"
                                  stroke-width="1.5"
                                  stroke="currentColor"
                                  class="w-6 h-6"
                                >
                                  <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z"
                                  />
                                </svg>
                              </button>
                            </form>
                            <%}else{%>
                              <form action="/posts/like" , method="post">
                                <input type="hidden" name="postId" value="<%=post._id%>">
                                <button class="max-w-max" type="submit">
                                  <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke-width="1.5"
                                    stroke="currentColor"
                                    class="w-6 h-6"
                                  >
                                    <path
                                      stroke-linecap="round"
                                      stroke-linejoin="round"
                                      d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z"
                                    />
                                  </svg>
                                </button>
                              </form>
                              <%}%>

                          <button onclick="commentIconClickHandler('<%= post._id %>')" class="comment-icon max-w-max">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              fill="none"
                              viewBox="0 0 24 24"
                              stroke-width="1.5"
                              stroke="currentColor"
                              class="w-6 h-6"
                            >
                              <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M8.625 12a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H8.25m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H12m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0h-.375M21 12c0 4.556-4.03 8.25-9 8.25a9.764 9.764 0 0 1-2.555-.337A5.972 5.972 0 0 1 5.41 20.97a5.969 5.969 0 0 1-.474-.065 4.48 4.48 0 0 0 .978-2.025c.09-.457-.133-.901-.467-1.226C3.93 16.178 3 14.189 3 12c0-4.556 4.03-8.25 9-8.25s9 3.694 9 8.25Z"
                              />
                            </svg>
                          </button>
                          <button class="max-w-max">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              fill="none"
                              viewBox="0 0 24 24"
                              stroke-width="1.5"
                              stroke="currentColor"
                              class="w-6 h-6"
                            >
                              <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M7.217 10.907a2.25 2.25 0 1 0 0 2.186m0-2.186c.18.324.283.696.283 1.093s-.103.77-.283 1.093m0-2.186 9.566-5.314m-9.566 7.5 9.566 5.314m0 0a2.25 2.25 0 1 0 3.935 2.186 2.25 2.25 0 0 0-3.935-2.186Zm0-12.814a2.25 2.25 0 1 0 3.933-2.185 2.25 2.25 0 0 0-3.933 2.185Z"
                              />
                            </svg>
                          </button>
                          <%if(post.isSaved){%>
                            <form action="/posts/unsave" method="post">
                              <input type="hidden" name="postId" value="<%=post._id%>">
                              <button class="max-w-max">
                                <svg fill="#000"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                class="w-6 h-6" 
                                xmlns="http://www.w3.org/2000/svg">
                                  <path d="M5 7.8C5 6.11984 5 5.27976 5.32698 4.63803C5.6146 4.07354 6.07354 3.6146 6.63803 3.32698C7.27976 3 8.11984 3 9.8 3H14.2C15.8802 3 16.7202 3 17.362 3.32698C17.9265 3.6146 18.3854 4.07354 18.673 4.63803C19 5.27976 19 6.11984 19 7.8V21L12 17L5 21V7.8Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                  </svg>
                              </button>
                            </form>
                            <%}else{%>
                              <form action="/posts/save" method="post">
                                <input type="hidden" name="postId" value="<%=post._id%>">
                                <button class="max-w-max">
                                  <svg fill="none"
                                  viewBox="0 0 24 24"
                                  stroke-width="1.5"
                                  stroke="currentColor"
                                  class="w-6 h-6" 
                                  xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5 7.8C5 6.11984 5 5.27976 5.32698 4.63803C5.6146 4.07354 6.07354 3.6146 6.63803 3.32698C7.27976 3 8.11984 3 9.8 3H14.2C15.8802 3 16.7202 3 17.362 3.32698C17.9265 3.6146 18.3854 4.07354 18.673 4.63803C19 5.27976 19 6.11984 19 7.8V21L12 17L5 21V7.8Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </button>
                              </form>
                              <%}%>
                        </div>
                        <div class="text-sm my-2">
                          <span> Liked by </span>
                          <span>
                            <strong> khodaeiDev </strong>
                          </span>
                          <span> and </span>
                          <span>
                            <strong> 2,923 others </strong>
                          </span>
                        </div>
                        <div>
                          <p class="text-gray-700">
                             <%= post.description %> 
                          </p>
                        </div>
                        <div class="mt-1">
                          <button class="text-xs max-w-max text-gray-500">
                            View all 294 comments ..
                          </button>
                        </div>
                      </div>
                    </footer>
                  </div>
                </article>
              <% }) %>
            <% } else { %>
              <div class="its-empty">
                <div class="font-Poppins-Bold text-lg text-gray-900">
                  Aww, Nothing to show :(
                </div>
                <div>
                  <img
                    src="/images/notfound.png"
                    class="not-found-image"
                    alt=""
                  />
                </div>
              </div>
            <% } %>
          </main>

          <!-- Footer -->
          <footer></footer>
        </div>
      </section>

      <!-- Sidebar -->

        <aside class="profile-sidebar">
          <!-- Website Main Links -->
          <section class="my-4 shadow overflow-hidden" id="sidebar-links">
            <div>
              <a
                class="nav-link active-tab"
                href= <%=user._id.toString()%>
              >
                <div class="flex-center">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-5 h-5"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25"
                    />
                  </svg>
                </div>
                <div>Profile</div>
              </a>
            </div>
  
            <div>
              <a class="nav-link" href="/posts/saves/">
                <div class="flex-center">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-5 h-5"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0 1 11.186 0Z"
                    />
                  </svg>
                </div>
                <div>Bookmarks</div>
              </a>
            </div>
            <div>
              <a class="nav-link" href="/users/edit-profile">
                <div class="flex-center">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-5 h-5"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M9.594 3.94c.09-.542.56-.94 1.11-.94h2.593c.55 0 1.02.398 1.11.94l.213 1.281c.063.374.313.686.645.87.074.04.147.083.22.127.325.196.72.257 1.075.124l1.217-.456a1.125 1.125 0 0 1 1.37.49l1.296 2.247a1.125 1.125 0 0 1-.26 1.431l-1.003.827c-.293.241-.438.613-.43.992a7.723 7.723 0 0 1 0 .255c-.008.378.137.75.43.991l1.004.827c.424.35.534.955.26 1.43l-1.298 2.247a1.125 1.125 0 0 1-1.369.491l-1.217-.456c-.355-.133-.75-.072-1.076.124a6.47 6.47 0 0 1-.22.128c-.331.183-.581.495-.644.869l-.213 1.281c-.09.543-.56.94-1.11.94h-2.594c-.55 0-1.019-.398-1.11-.94l-.213-1.281c-.062-.374-.312-.686-.644-.87a6.52 6.52 0 0 1-.22-.127c-.325-.196-.72-.257-1.076-.124l-1.217.456a1.125 1.125 0 0 1-1.369-.49l-1.297-2.247a1.125 1.125 0 0 1 .26-1.431l1.004-.827c.292-.24.437-.613.43-.991a6.932 6.932 0 0 1 0-.255c.007-.38-.138-.751-.43-.992l-1.004-.827a1.125 1.125 0 0 1-.26-1.43l1.297-2.247a1.125 1.125 0 0 1 1.37-.491l1.216.456c.356.133.751.072 1.076-.124.072-.044.146-.086.22-.128.332-.183.582-.495.644-.869l.214-1.28Z"
                    />
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
                    />
                  </svg>
                </div>
                <div>Settings</div>
              </a>
            </div>
          </section>
        </aside>
    </main>

    <!-- Footer -->
    <footer class="flex items-center gap-2"></footer>

    <!--Followers Modal -->
    <section id="modal" class="modal-screen">
      <section id="modal-card">
        <header
          id="modal-header"
          class="w-full pb-4 flex items-center justify-between"
        >
          <div></div>
          <div class="pl-5">Followers (<%= followers.length %>)</div>
          <button class="max-w-max flex-center close-button">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6 18 18 6M6 6l12 12"
              />
            </svg>
          </button>
        </header>
        <main class="mt-2">
          <%if(hasAccess){%> <% if (followers.length > 0) { %> <%
          followers.forEach(follower => { %>
          <article class="following-card">
            <div class="flex items-center gap-1">
              <div class="flex items-center gap-2">
                <div class="w-12 h-12 rounded-full overflow-hidden">
                  <% if (follower.profilePicture) { %>
                    <img
                    src="http://localhost:4002<%=follower.profilePicture%>"
                    class="w-full object-cover h-full"
                    alt=""
                  />
                    <%}else{%>
                      <img
                        src="/images/defaulte/default-user.png"
                        class="w-full object-cover h-full"
                        alt=""
                      />
                      <%}%>
                </div>
                <div>
                  <h6 class=""><%= follower.name %></h6>
                  <p class="text-sm font-Poppins-Light text-gray-600">
                    @<%= follower.username %>
                  </p>
                </div>
              </div>
            </div>

                  <form method="get" action="/pages/<%=follower._id.toString()%>">
                    <div>
                      <button class="follow-button text-xs">Show Page</button>
                    </div>
                   </form>

          </article>

          <% }) %> <% } else { %>

          <h1 style="text-align: center">No followers</h1>

          <% } %> <%}else { %>

          <h1 style="text-align: center">You can't access to followers</h1>
          <% } %>
        </main>
      </section>
    </section>

    <!-- Followings Modal -->
    <section id="modal" class="modal-screen followings-modal-screen">
      <section id="modal-card">
        <header
          id="modal-header"
          class="w-full pb-4 flex items-center justify-between"
        >
          <div></div>
          <div class="pl-5">Followings (<%= followings.length %>)</div>
          <button class="max-w-max flex-center followings-close-button">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6 18 18 6M6 6l12 12"
              />
            </svg>
          </button>
        </header>
        <main class="mt-2">
          <% if(hasAccess) { %> <%if(followings.length > 0){%>
          <%followings.forEach(following => { %>

          <article class="following-card">
            <div class="flex items-center gap-1">
              <div class="flex items-center gap-2">
                <div class="w-12 h-12 rounded-full overflow-hidden">
                  <% if (following.profilePicture) { %>
                    <img
                    src="http://localhost:4002<%=following.profilePicture%>"
                    class="w-full object-cover h-full"
                    alt=""
                  />
                    <%}else{%>
                      <img
                        src="/images/defaulte/default-user.png"
                        class="w-full object-cover h-full"
                        alt=""
                      />
                      <%}%>
                </div>
                <div>
                  <h6 class=""><%= following.name %></h6>
                  <p class="text-sm font-Poppins-Light text-gray-600">
                    @<%= following.username %>
                  </p>
                </div>
              </div>
            </div>

            <form method="get" action="/pages/<%=following._id.toString()%>">
                    <div>
                      <button class="follow-button text-xs">Show Page</button>
                    </div>
                   </form>
          </article>
          <% }) %> <%}else{%>
          <h1 style="text-align: center">No followings</h1>

          <%}%> <% } else { %>
          <h1 style="text-align: center">You can't access to followings</h1>
          <% } %>
        </main>
      </section>
    </section>

    <!-- Modal -->
    <%posts.forEach(post =>{%>
    <section id="comments-modal" class="modal-screen comments-modal">
      <section id="modal-card">
        <div class="overflow-y-visible" id="comments_modal">
          <header class="w-full border-b pb-4 flex-center text-center">
            <p>Comments</p>
          </header>
          <main class="mt-4">
            <div>
              <p class="text-sm text-gray-700">Add a comment:</p>
              <form id="comment-form" method="post" action="/posts/new-comment">
                <div class="mt-2">
                  <textarea name="content" class="w-full bg-gray-100 p-5 rounded-lg font-light" placeholder="Write something to share ..."></textarea>
                </div>
                <div class="flex justify-end">
                  <button class="button success text-base max-w-max px-3 py-1.5">
                    SUBMIT
                  </button>
                </div>
              </form>
            </div>
          </main>
          
          <footer class="mt-5 pt-5 border-t">
            <div>
              <p class="text-sm text-gray-600 my-3">Comments</p>
            </div>
            <%comments.forEach(comment =>{%>
            <%if(comment.post.toString() === post._id.toString()){%>
              <div class="border bg-gray-100 p-5 my-3 rounded-md shadow-sm">
                <div class="flex items-center gap-2 mb-1">
                  <%if(comment.user.profilePicture){%>
                  <img src="http://localhost:4002/images/defaulte/default-user.png" class="w-9 rounded-full" alt="Profile Image" />
                    <%}%>
                  <img src="http://localhost:4002/images/defaulte/default-user.png" class="w-9 rounded-full" alt="Profile Image" />
                  <div>
                    <span class="text-sm text-gray-600"><%= comment.user.name%></span>
                    <p class="text-xs text-gray-500"><%= new Date(comment.createdAt).toDateString() %></p>
                  </div>
                </div>
                <div class="ml-6 pl-4 mt-4">
                  <q><%=comment.content%></q>
                </div>
                <div class="mt-4 flex-between">
                  <div class="flex items-center gap-1">
                    <button class="flex items-center gap-1">
                      <span>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 text-gray-600 h-5">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M15.182 15.182a4.5 4.5 0 0 1-6.364 0M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0ZM9.75 9.75c0 .414-.168.75-.375.75S9 10.164 9 9.75 9.168 9 9.375 9s.375.336.375.75Zm-.375 0h.008v.015h-.008V9.75Zm5.625 0c0 .414-.168.75-.375.75s-.375-.336-.375-.75.168-.75.375-.75.375.336.375.75Zm-.375 0h.008v.015h-.008V9.75Z" />
                        </svg>
                      </span>
                      <span class="pb-1">+1</span>
                    </button>
                  </div>
                  <button class="max-w-max w-8 h-8 flex-center bg-gray-100 rounded-md border">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 text-gray-600">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3" />
                    </svg>
                  </button>
                </div>
              </div>
              <%}%>
              <%})%>
          </footer>
        </div>
      </section>
    </section>
    <%})%>
    <!-- Scripts -->
    <script src="/js/profile.js"></script>
    <script src="/js/sweetalert.js"></script>
    <script>
      if ("<%= locals.messages.error %>") {
        swal({
          title: "<%= locals.messages.error %>",
          icon: "error",
          buttons: "Try Again",
        });
      } else if ("<%= locals.messages.success %>") {
        swal({
          title: "<%= locals.messages.success %>",
          icon: "success",
          buttons: "Huraaa ðŸ˜",
        });
      }

      const followersSpan = document.querySelector(".followers ");
      const followingsSpan = document.querySelector(".followings");
      const profileMoreBtns = document.querySelectorAll(".profile-more-button");
      const commentsOverlay = document.querySelector('.modal-screen')


      followersSpan.addEventListener("click", () => {
        const followersModal = document.querySelector(".modal-screen");
        const followerModalCloseBtn = document.querySelector(".close-button");

        followersModal.classList.add("visible");

        followerModalCloseBtn.addEventListener("click", () => {
          followersModal.classList.remove("visible");
        });
      });

      followingsSpan.addEventListener("click", () => {
        const followingsModal = document.querySelector(
          ".followings-modal-screen"
        );
        const followingsModalCloseBtn = document.querySelector(
          ".followings-close-button"
        );

        followingsModal.classList.add("visible");

        followingsModalCloseBtn.addEventListener("click", () => {
          followingsModal.classList.remove("visible");
        });
      });

      profileMoreBtns.forEach((btn) => { 
        btn.addEventListener("click", (event) => {
          const removePostBtn = event.target.parentElement.parentElement.querySelector(".dropdown");

          removePostBtn.classList.toggle("visible"); 
        }); 
      });
      
     
      function commentIconClickHandler (postId) {
        const modal = document.querySelector('#comments-modal')
        const commentForm = document.querySelector('#comment-form')
        const commentFormInputs = commentForm.querySelectorAll('input')
        
        modal.classList.add("visible")

       
        commentFormInputs.forEach(input => input.remove())

        commentForm.insertAdjacentHTML('afterbegin',
          `
            <input type="hidden" name="postId" value=${postId} />
          `
        )
      };

      window.addEventListener('keyup', event => {
        if (event.keyCode === 27) {
          let commentsModal = document.querySelector('#comments-modal')
          commentsModal.classList.remove('visible')
        }
      }) 
    </script>
  </body>
</html>
