<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Social Media | Bookmarks</title>
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <!-- <link rel="stylesheet" href="/css/profile.css" /> -->
  </head>

  <body>
    <!-- Header/navbar -->
    <header>
      <nav class="w-full flex-between py-5 container">
        <div>
          <a href="/pages/<%=user._id%>" class="logo text-xl"> Social Media </a>
        </div>

        <div class="flex gap-6 items-center">
          <a class="create-button bg-indigo-600" href="/posts"> Create </a>
          <div class="w-12 h-12 rounded-full overflow-hidden rounded-full">
            <a
              id="profileButton"
              class="w-full h-full bg-transparent border-none"
              href="/pages/<%=user._id%>"
            >
              <%if(user.profilePicture){%>
              <img
                src="<%=user.profilePicture%>"
                class="object-cover"
                alt="profile cover"
              />
              <%}else{%>
              <img
                src="/images/defaulte/default-user.png"
                class="object-cover"
                alt="profile cover"
              />
              <%}%>
            </a>
          </div>
        </div>
      </nav>
    </header>

    <main class="container my-8 flex gap-10">
      <!-- Sidebar -->
      <aside id="sidebar">
        <!-- Profile Card -->
        <article class="profile-card shadow px-4">
          <div>
            <%if(user.profilePicture){%>
            <img
              src="<%=user.profilePicture%>"
              class="w-12 h-12 rounded-full"
              alt="Profile Image"
            />
            <%}else{%>
            <img
              src="/images/defaulte/default-user.png"
              class="object-cover"
              alt="profile cover"
            />
            <%}%>
          </div>
          <div>
            <p
              class="user-profile-name text-gray-900 font-Poppins-Bold text-sm"
            >
              <%=user.name%>
            </p>
            <p class="font-Poppins-Light text-xs text-gray-500">
              @<%=user.username%>
            </p>
          </div>
        </article>

        <!-- Website Main Links -->
        <section class="my-4 shadow overflow-hidden" id="sidebar-links">
          <div>
            <a class="nav-link" href="/pages/<%=user._id%>">
              <div class="flex-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-5 h-5"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25"
                  />
                </svg>
              </div>
              <div>Profile</div>
            </a>
          </div>

          <div>
            <a class="nav-link active-tab" href="/posts/saves/">
              <div class="flex-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-5 h-5"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0 1 11.186 0Z"
                  />
                </svg>
              </div>
              <div>Bookmarks</div>
            </a>
          </div>
          <div>
            <a class="nav-link" href="/users/edit-profile">
              <div class="flex-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-5 h-5"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M9.594 3.94c.09-.542.56-.94 1.11-.94h2.593c.55 0 1.02.398 1.11.94l.213 1.281c.063.374.313.686.645.87.074.04.147.083.22.127.325.196.72.257 1.075.124l1.217-.456a1.125 1.125 0 0 1 1.37.49l1.296 2.247a1.125 1.125 0 0 1-.26 1.431l-1.003.827c-.293.241-.438.613-.43.992a7.723 7.723 0 0 1 0 .255c-.008.378.137.75.43.991l1.004.827c.424.35.534.955.26 1.43l-1.298 2.247a1.125 1.125 0 0 1-1.369.491l-1.217-.456c-.355-.133-.75-.072-1.076.124a6.47 6.47 0 0 1-.22.128c-.331.183-.581.495-.644.869l-.213 1.281c-.09.543-.56.94-1.11.94h-2.594c-.55 0-1.019-.398-1.11-.94l-.213-1.281c-.062-.374-.312-.686-.644-.87a6.52 6.52 0 0 1-.22-.127c-.325-.196-.72-.257-1.076-.124l-1.217.456a1.125 1.125 0 0 1-1.369-.49l-1.297-2.247a1.125 1.125 0 0 1 .26-1.431l1.004-.827c.292-.24.437-.613.43-.991a6.932 6.932 0 0 1 0-.255c.007-.38-.138-.751-.43-.992l-1.004-.827a1.125 1.125 0 0 1-.26-1.43l1.297-2.247a1.125 1.125 0 0 1 1.37-.491l1.216.456c.356.133.751.072 1.076-.124.072-.044.146-.086.22-.128.332-.183.582-.495.644-.869l.214-1.28Z"
                  />
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
                  />
                </svg>
              </div>
              <div>Settings</div>
            </a>
          </div>
        </section>

        <!-- Create a post -->
        <a
          style="color: #fff"
          class="h-10 rounded-2xl flex-center text-white bg-indigo-700"
          href="/posts"
        >
          New Post
        </a>
      </aside>

      <!-- Content -->
      <section id="bookmarks-container" class="flex flex-wrap gap-4">
        <%if(saves.length>0){%> <%saves.forEach(item =>{%>
        <article class="feed-card shadow">
          <!-- Feed header -->
          <header>
            <a href="/pages/<%=user._id%>" class="flex items-center gap-3">
              <div>
                <%if(item.post.user.profilePicture){%>
                <img
                  src="<%=item.post.user.profilePicture%>"
                  class="w-12 h-12 rounded-full"
                  alt="Profile Image"
                />
                <%}else{%>
                <img
                  src="/images/defaulte/default-user.png"
                  class="object-cover"
                  alt="profile cover"
                />
                <%}%>
              </div>
              <div>
                <p class="font-Poppins-Medium text-sm twitter-name">
                  <%=item.post.user.name%>
                </p>
                <p class="tweet-time">
                  <span>Dubai</span>
                  ,
                  <span>6 Minutes Ago</span>
                </p>
              </div>
            </a>
          </header>

          <!-- Feed body -->
          <main class="tweet-body">
            <img
              clas
              src="https://social-media-h5e2.onrender.com<%=item.post.media.path%>"
              class="tweet-image object-cover"
              alt=""
            />
          </main>

          <!-- Feed footer -->
          <footer class="px-4">
            <!-- Like & Comment Share / Views & Save Button -->
            <section class="flex items-center justify-between">
              <div class="flex items-center gap-2">
                <%if(item.post.isLiked){%>
                <form action="/posts/dislike" , method="post">
                  <input
                    type="hidden"
                    name="postId"
                    value="<%=item.post._id%>"
                  />
                  <button class="max-w-max" type="submit">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="#FF0000"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="w-6 h-6"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z"
                      />
                    </svg>
                  </button>
                </form>
                <%}else{%>
                <form action="/posts/like" , method="post">
                  <input
                    type="hidden"
                    name="postId"
                    value="<%=item.post._id%>"
                  />
                  <button class="max-w-max" type="submit">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="w-6 h-6"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z"
                      />
                    </svg>
                  </button>
                </form>
                <%}%>

                <button title="comment" class="max-w-max">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-6 h-6"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M7.217 10.907a2.25 2.25 0 1 0 0 2.186m0-2.186c.18.324.283.696.283 1.093s-.103.77-.283 1.093m0-2.186 9.566-5.314m-9.566 7.5 9.566 5.314m0 0a2.25 2.25 0 1 0 3.935 2.186 2.25 2.25 0 0 0-3.935-2.186Zm0-12.814a2.25 2.25 0 1 0 3.933-2.185 2.25 2.25 0 0 0-3.933 2.185Z"
                    />
                  </svg>
                </button>
                <form action="/posts/unsave" method="post">
                  <input
                    type="hidden"
                    name="postId"
                    value="<%=item.post._id%>"
                  />
                  <button class="max-w-max">
                    <svg
                      fill="#000"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="w-6 h-6"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M5 7.8C5 6.11984 5 5.27976 5.32698 4.63803C5.6146 4.07354 6.07354 3.6146 6.63803 3.32698C7.27976 3 8.11984 3 9.8 3H14.2C15.8802 3 16.7202 3 17.362 3.32698C17.9265 3.6146 18.3854 4.07354 18.673 4.63803C19 5.27976 19 6.11984 19 7.8V21L12 17L5 21V7.8Z"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </button>
                </form>
              </div>

              <!-- Views, Save -->
              <div class="flex items-center gap-2 justify-between">
                <!-- Views -->
                <div class="flex items-center gap-1 text-xs text-gray-700">
                  <span>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="w-4 h-4"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z"
                      />
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
                      />
                    </svg>
                  </span>
                  <span class="text-xs"> 29,428 </span>
                </div>
              </div>
            </section>

            <!-- Likes count -->
            <div class="mt-1 flex items-center relative">
              <div class="liked-by-wrapper relative block">
                <span>
                  <img src="/images/profile-5.jpg" class="likedBy" alt="" />
                </span>
                <span>
                  <img
                    src="/images/profile-6.jpg"
                    class="likedBy left-3 z-10"
                    alt=""
                  />
                </span>
                <span> </span>
                <img
                  src="/images/profile-7.jpg"
                  class="likedBy left-6 z-20"
                  alt=""
                />
              </div>

              <div class="text-sm">
                <span> Liked by </span>
                <span>
                  <strong> KhodaeiDev </strong>
                </span>
                <span> and </span>
                <span>
                  <strong> 2,923 others </strong>
                </span>
              </div>
            </div>

            <!-- User Infos (name, description) -->
            <div class="mt-1 text-sm gap-1">
              <span>
                <strong> Lena Mc'Queen </strong>
              </span>
              <p class="text-gray-700">
                Lorem ipsum dolor sit amet consectetur.
              </p>
            </div>
          </footer>
        </article>
        <%})%> <%} else { %>

        <div class="its-empty-saves">
          <div class="font-Poppins-Bold text-lg text-gray-900">
            Aww, Nothing to show :(
          </div>
          <div>
            <img src="/images/notfound.png" class="not-found-image" alt="" />
          </div>
        </div>
        <% } %>
      </section>

      <section id="bookmark-content"></section>
    </main>
  </body>
</html>
